@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@600&display=swap');
body{
	background: url("background.jpg");
	width: 100%;
	margin: 0 auto;
	min-width: 480px;
	max-width: 900px;
}
.menu{
	font-family: arial, helvetica, sans-serif;
	font-size: 15px;
	list-style:none;
	border:none;
	float:left;
}
.menu li{
	position:relative;
	float:left;
	border-right:none;
}
.menu li a{
	color:#333; 
	text-decoration:none; 
	padding:5px 10px; 
	display:block;
}
.menu li a:hover{
	background:rgba(234, 234, 225, 3);
	color:#fff;
	-moz-box-shadow:0 3px 10px 0 #CCC;
	-webkit-box-shadow:0 3px 10px 0 #ccc;
	text-shadow:0px 0px 5px #fff;
}
.menu li  ul{
	position:absolute;
	top:25px;
	left:0;
	background-color:none;
	display:none;
}
.menu li:hover ul, .menu li.over ul{display:block;}
.menu li ul li{
	border:none;
	display:block;
	width:170px;
	font-size:10px;
}
div#interface{
	width: 600px;
	height: 1300px;
	background-color: rgb(242, 235, 216);
	margin: 135px auto 0px auto;
	padding: 12px;
	margin-right: 25px;
	border: 8px rgb(234, 234, 225) solid;
	box-shadow: 1px 1px 4px rgba(0,0,0,.5);
	border-radius: 25px;
}
div#interface h2{
	position: center;
	font-family: ;
}
footer#rodape{
	clear: both;
	padding: -20px;
	margin-left: 40px; 
}
footer#rodape p {
	text-align: left;
	font-size: 12px;
}
iframe#frame{
	position: relative;
	width: 600px;
	height: 1300px;
	margin-top: auto;
	float: left;
	border: none;
	overflow: hidden;
}
iframe#frame{
	position: relative;
	margin-top: auto;
	float: left;
	border: none;
	overflow: hidden;
}
aside#lado {
	width: 150px;
	height: 1300px;
	background-color: rgb(234, 234, 225);
	margin: -1335px auto 0px auto;
	padding: 12px;
	margin-right: 1600px;
	margin-left: 5px;
	border: 8px rgb(234, 234, 225) solid;
	box-shadow: 1px 1px 4px rgba(0,0,0,.5);
	border-radius: 25px;
}
img#user {
	width: 40px;
	height: 40px;
	position: relative;
	top: 21px;
	left: 525px;
}
footer#rodape a{
	text-decoration: none;
	color: #0f0d60;
}
footer#rodape a :hover {
	color: #0f0d60;
}
a {
	text-decoration: none;
	color: #0f0d60;
}
a :hover {
	color: #0f0d60;
}
.foto-user {
	border-radius: 3px;
	margin: 5px;
}